useDynLib(clogitL1)
export(clogitL1)
export(print.clogitL1)
export(plot.clogitL1)
export(cv.clogitL1)
export(plot.cv.clogitL1)
export(summary.clogitL1)
export(summary.cv.clogitL1)
import(Rcpp)